.cards-container {
  background-color: white;
}

.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  border: 1px solid var(--highlight-background-color);
  background-color: var(--background-color);
  padding: 2rem 1rem;
}

.cards > ul > li:hover {
  background-color: black;
  color: white;
}

/* .cards > ul > li:hover .cards > ul > li > div:nth-child(2) > h3 {
  background-color: black;
  color: white;
} */

.cards > ul > li > div:nth-child(2) > h3 {
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 0.1em;
}

.cards > ul > li > div:nth-child(2) > h3 > a {
  text-decoration: none;
  color: inherit;
}

.cards > ul > li > div > picture > img {
  object-fit: contain;
  max-height: 40px;
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
.section.imageandtext-four-card-layout.cards-container {
     color: #ffffff;
     background-color: #101010;
     text-align: center;
     padding-top: 40px;
     padding-bottom: 20px;
}

.section.imageandtext-four-card-layout .cards > ul > li {
    border: 1px solid var(--highlight-background-color);
    background-color: #101010;
    padding: 2rem 1rem;
}

.cards-card-body >p >a.button.primary {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: #999;
    padding-bottom: 6px;
    position: relative;
    text-decoration : none;
    background-color: transparent;
}
.section.columns-container {
    background-color: #f4f4f4;
}
.section.columns-container h4  {
    font-size: var(--heading-font-size-m);
    color: #101010;
    text-align: center;
    padding-bottom: 20px;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: .2em;
    text-transform: uppercase;
 }

 .section.columns-container h5  {
     color: #101010;
     text-align: center;
     font-size: 14px;
     line-height: 26px;
     letter-spacing: .2em;
     text-transform: uppercase;
  }

columns.block.columns-2-cols p {
    font-size: 16px;
    font-style: normal;
    line-height: 28px;
    color: #101010;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: .2em;
    margin: 4px 0 0;
    line-height: 1.3;
}