.carousel > div {
  display: flex;
  flex-direction: column;
}

.carousel img {
  width: 100%;
}

.carousel > div > div {
  order: 1;
}

.carousel > div > .carousel-img-col {
  order: 0;
}

.carousel > div > .carousel-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .carousel > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .carousel > div > div {
    flex: 1;
    order: unset;
  }
}

.carousel.block.carousel-2-cols h3 {
    color: rgb(16, 16, 16);
    font-family: "Mazda Type", helvetica, arial, sans-serif;
    font-feature-settings: "clig" 0, "liga" 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 3.6px;
    line-height: 18px;
}
