footer {
  padding: 2rem;
  /*background-color: var(--overlay-background-color);*/
  font-size: var(--body-font-size-s);
  background-color: #2b2b2b;
    bottom: 0;
    color: #fff;
    display: block;
    height: auto;
    overflow: hidden;
    width: 100%;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}
.footer.block a {
     text-decoration: none;
     border-right-color: red;
     border-right-style: double;
     border-right-width: 0px;
     box-sizing: border-box;
     color: rgb(153, 153, 153);
     cursor: pointer;
     font-size: 10px;
     font-style: normal;
     font-weight: 700;
     letter-spacing: 2px;
     text-transform:uppercase;
}

.footer .footer p {
    margin: 0;
    border-bottom-color: rgb(153, 153, 153);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(153, 153, 153);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(153, 153, 153);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(153, 153, 153);
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(153, 153, 153);
    display: block;
    float: right;
    font-family: "Mazda Type", helvetica, arial, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    height: 18px;
    letter-spacing: 2px;
    line-height: 18px;
    margin-bottom: 28px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    vertical-align: baseline;
 }